.ip-address-body {
    width: 300px;
    height:200px;
}
.ip-address-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    text-align: center;
    line-height: 1.5;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}   

.ip-address-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-align: center;
    line-height: 1.5;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);       
}

#ip-address-data {
    font-size: 24px;
    color: #1900ff;
    text-align: center;
    line-height: 1.5;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}